<div id="page-wrapper">
  <div id="page-middle-wrapper">
    <app-map></app-map>
  </div>

<!--   <div id="page-right-wrapper">
    <div id="page-left-weather-wrapper">
      <h2>What is Växjö weather forecast?</h2>
      <p>Here is the local weather forecast for the next couple of days.</p>
      <hr />
      <app-weather></app-weather>
    </div>
    <app-career></app-career>
  </div> -->

<!--   <div id="page-right-wrapper" style="margin-right: 35%;">
    <div id="page-left-disqus-wrapper">
      <h2>Write a tweet?</h2>
      <p>Here you can type your post</p>
      <hr />
      <app-twitter></app-twitter>
    </div>
  </div> -->

<!--   <div id="page-right-wrapper" style="margin-right: 35%; margin-top: 25%;">
    <div id="page-left-disqus-wrapper">
      <h2>Parking</h2>
      <hr />
      <app-parking></app-parking>
    </div>
  </div> -->
  <h1 style="display: flex;
    position: absolute;
    text-align: center;
    display: block;
    padding: 20px;
    background-color: #fff !important;
    margin: 20px auto;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    left: 50%;
    transform: translate(-50%, 10px);
    border-radius: 13px;
    box-shadow: 1px 1px 9px 3px #ccc;">
    Welcome to my Mashup services
  </h1>
  <div id="page-right-wrapper" style="right:50%;top:20%" >
    <div id="page-left-disqus-wrapper" style="min-height: 270px;">
      <h2>Movie Search And Tweet Info</h2>
      <hr />
      <app-moovie></app-moovie>
    </div>
  </div>

  <div id="page-right-wrapper" style="right:23%;top:20%" >
    <div id="page-left-disqus-wrapper" style="min-height: 270px;">
      <h2>Message</h2>
      <hr />
      <app-message></app-message>
    </div>
  </div>


</div>